@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caudex:ital,wght@0,400;0,700;1,400;1,700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&display=swap');

body {
  background-color: black;
  color: palevioletred;
  font-family: "Google Sans", sans-serif;
  padding: 2rem 3rem;
}
h1 {
  color: purple;
  font-family: "caudex", serif;
  font-weight: 900;
  font-size: 3rem; 
}
h2 {
  color: rgb(216, 26, 124);
  font-family: "Comic Neue", cursive;
  font-weight: 600;
  font-size: 2rem;
}
#tec {
    background-color: rgb(37, 37, 37);
    padding: 0.5rem;
    border: pink 6px dotted ;
}
#wapp {
  color: aqua;
  text-decoration: none;
  
}
#wapp:hover {
  color: blue;
  text-decoration: underline;
}
a {
  text-decoration: none;
  
}
/* "text-decoration: none" no me saca el underline del elemto <a*/